<article id="<%=@new_post.id%>" >
  ::before
  <a href="/posts/<%=@new_post.id%>/vote" class="fa fa-sort-desc vote-button">
  </a>
  <h2>
    <a href="/posts/<%=@new_post.id%>"><%=@new_post.title%></a>
  </h2>

  <p>
    <span class="points">
      <%=@new_post.points%>
      ::after
    </span>
    <span class="username">
      ::before
      <%=@new_post.username%>
    </span>
    <span class="timestamp">
      <%=@new_post.time_since_creation%>
      ::after
    </span>
    <span class="comment-count">
      <%=@new_post.comment_count%>
      ::after
    </span>
    <a class="delete" href="/posts/<%=@new_post.id%>">
      ::before
    </a>
  </p>
